<div class="card">
  <h5 class="card-header">{{title}}</h5>
  <div class="card-body">
    <p class="card-text">{{content}}</p>
    <p>Created by: {{user.username}}</p>
    <a href="#" class="btn btn-primary">Comment</a>
  </div>
</div>