  <h2>Login</h2>

  <div>
    <form class="login-form">
      <div>
        <label for="login-email" class="form-label ">email:</label>
        <input type="text" id="login-email" class="form-control"/>
      </div>
      <div>
        <label for="login-password" class="form-label">password:</label>
        <input type="password" id="login-password" class="form-control"/>
      </div>
      <div>
        <button type="submit" class="btn btn-primary mb-3">login</button>
      </div>
    </form>

<script src="/js/login.js"></script>